include *.txt
include *.md
include *.py
recursive-include ./prediction_model/*

include packaging-ml-model/prediction_model/datasets/*.csv
include packaging-ml-model/prediction_model/trained_models/*.pkl
include packaging-ml-model/prediction_model/processing/*.py
include packaging-ml-model/prediction_model/VERSION
include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

